<div class="seacrh-container">

    <div class="searcher">
        <label><mat-icon>search</mat-icon></label>
        <input mat-input type="text" name="charName" [(ngModel)]="charName" (input)="onChange()"
        placeholder="search characters">
    </div>
    

    <div *ngIf="character$ | async as characters" class="info-container">
        <div *ngFor="let char of characters.results">
            <div>
                <p>{{char.name}}</p>
                <img [src]="char.image">
            </div>
        </div>
    </div>
</div>


