<div class="login-container">
    <div class="login">
        
        <div class="login-title">
            <h2>Login</h2>
        </div>

        <form action="">
            <div class="icon-session">
                <mat-icon>perm_identity</mat-icon>
            </div>
            <div class="input-container">
                <label for="">Username: </label> <br>
                <input type="text" name="username" id="" [(ngModel)]="username"> <br><br>
                <label for="">Password: </label><br>
                <input type="password" name="password" id="" [(ngModel)]="password" ><br><br>
            </div>
            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" (click) = "onClick()">
                    <mat-icon>login</mat-icon> Login
                </button>
            </div>
        
        </form>
    </div>
    
</div>